@import "./variable.scss";

.orders-box {
    width: $per100;
    // box-shadow: 1px 1px 4px 1px rgba(11, 11, 11, .2);
    box-shadow: 0 0 10px #D0D0D0;
    .title-label {
        position: relative;
        border-bottom: 1px solid #ebebeb;
    }
    .table-box {
        box-shadow: 0px 1px 4px 0px rgba(11, 11, 11, .2);
        // padding-bottom: px2percent(100, 820);
        overflow-x: scroll;
        .tab-pannel {
            padding: px2percent(20, 820);
            span {
                display: inline-block;
                text-align: center;
                width: px2percent(100, 820);
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                color: #D0D0D0;
                border: 1px solid #D0D0D0;
                border-radius: 14px;
                &:not(:first-child) {
                    margin-left: px2percent(20, 820);
                }
                &.active {
                    color: $baseColor;
                    border-color: $baseColor
                }
            }
        }
    }
}